<script type="text/javascript">
    function Login() {
        var dat = {
            username: $('input[name="username"]').val(),
            password: $('input[name="password"]').val(),
            external: '{{external}}',
            csrfmiddlewaretoken: "{{csrf_token}}",
        };
        if (dat.username != "" && dat.password != "") {
            $.ajax({
                url: "{% url 'auth_login' %}",
                type: "POST",
                dataType: "json",
                data: dat,

                success: function (data) {
                    if (data.redirect) {
                        window.location.assign("/");
                    } else {
                        if (data.success == true) {
                            location.reload();

                        } else {
                            $('#loginModal').modal('hide');
                            setTimeout(function () {

                                // create the notification
                                var notification = new NotificationFx({
                                    message: data.message,
                                    layout: 'growl',
                                    effect: 'slide',
                                    type: 'error' // notice, warning or error

                                });

                                // show the notification
                                notification.show();

                            }, 200); //time show notification
                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loginModal').modal('hide');
                    //error message
                    setTimeout(function () {

                        // create the notification
                        var notification = new NotificationFx({
                            message: 'Login failed - Please try again',
                            layout: 'growl',
                            effect: 'slide',
                            type: 'error' // notice, warning or error
                        });

                        // show the notification
                        notification.show();

                    }, 100); //time show notification
                }
            });
        }
    }

</script>