<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function Login() {
        var csrftoken = getCookie('csrftoken');
        var dat = {
            username: $('input[name="username"]').val(),
            password: $('input[name="password"]').val(),
            external: '{{external}}',
            csrfmiddlewaretoken: csrftoken,
        };
        if (dat.username != "" && dat.password != "") {
            $.ajax({
                url: "{% url 'auth_login' %}",
                type: "POST",
                dataType: "json",
                data: dat,

                success: function (data) {
                    if (data.redirect) {
                        window.location.assign("/");
                    } else {
                        if (data.success == true) {
                            location.reload();

                        } else {
                            $('#loginModal').modal('hide');
                            setTimeout(function () {

                                // create the notification
                                var notification = new NotificationFx({
                                    message: data.message,
                                    layout: 'growl',
                                    effect: 'slide',
                                    type: 'error' // notice, warning or error

                                });

                                // show the notification
                                notification.show();

                            }, 200); //time show notification
                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loginModal').modal('hide');
                    //error message
                    setTimeout(function () {

                        // create the notification
                        var notification = new NotificationFx({
                            message: 'Login failed - Please try again',
                            layout: 'growl',
                            effect: 'slide',
                            type: 'error' // notice, warning or error
                        });

                        // show the notification
                        notification.show();

                    }, 100); //time show notification
                }
            });
        }
    }

</script>