<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        {% block title %}WAUTH{% endblock %}
    </title>

    {% include 'wauth/libraries-top.html' %}

    {% block extracss %}{% endblock %}

</head>

<body>

    {% include 'wauth/messages.html' %}

    {% block content %}

    {% endblock %}

    {% include 'wauth/libraries-buttom.html' %}

    {% block extrajs %}{% endblock %}

</body>
</html>
