<link rel="stylesheet" href="{{ STATIC_URL }}vendor/foundation/css/normalize.css">
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/foundation/css/foundation.css">
<link rel="stylesheet" href="{{ STATIC_URL }}wauth/css/css.css">

<script src="{{ STATIC_URL }}vendor/foundation/js/vendor/modernizr.js"></script>
<script src="{{ STATIC_URL }}vendor/foundation/js/vendor/jquery.js"></script>
<script src="{{ STATIC_URL }}vendor/foundation/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
