<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}WAUTH{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/foundation/css/normalize.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/foundation/css/foundation.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}wauth/css/css.css">

    <script src="{{ STATIC_URL }}vendor/foundation/js/vendor/modernizr.js"></script>
    <script src="{{ STATIC_URL }}vendor/foundation/js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}vendor/foundation/js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>

</head>
<body>

<nav class="top-bar" data-topbar data-options="is_hover: false">
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">WAUTH</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
    </ul>

</nav>

{% if not user.is_authenticated %}
    <div class="row">
        <form data-abide onsubmit="return false;" class="will tiny">
            {% csrf_token %}
            <fieldset>
                <legend>Login</legend>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Username
                            <input type="text" placeholder="Username" name="username" required/>
                        </label>
                        <small class="error">required</small>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label for="password">Password <!--<small>required</small>-->
                            <input type="password" id="password" placeholder="Password" name="password" required>
                        </label>
                        <small class="error">required</small>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <button type="submit" class="medium button green" onclick="Login()">Submit</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
{% endif %}

{% include 'wauth/messages.html' %}

{% block content %}

{% endblock %}

<script src="{{ STATIC_URL }}vendor/foundation/js/vendor/jquery.js"></script>
<script src="{{ STATIC_URL }}vendor/foundation/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>

<script type="text/javascript">
    $(document).ready(function () {
        if ('{{user.is_authenticated}}' == 'True') {
            window.location.assign("/");
        }
    });
</script>

<script type="text/javascript">
    function Login() {
        var dat = {
            username: $('input[name="username"]').val(),
            password: $('input[name="password"]').val(),
            external: '{{external}}',
            csrfmiddlewaretoken: "{{csrf_token}}",
        };
        console.log(dat);
        if (dat.username != "" && dat.password != "") {
            $.ajax({
                url: "{% url 'auth_login' %}",
                type: "POST",
                dataType: "json",
                data: dat,


                success: function (data) {
                    if (data.redirect) {
                        window.location.assign("/");
                    } else {
                        if (data.success == true) {
                            location.reload();
                        } else {
                            $('#loginModal').foundation('reveal', 'close');
                            //error message
                            setTimeout(function () {

                                //classie.remove( bttn, 'active' );

                                // create the notification
                                var notification = new NotificationFx({
                                    message: data.message,
                                    layout: 'growl',
                                    effect: 'slide',
                                    type: 'warning', // notice, warning or error

                                });

                                // show the notification
                                notification.show();

                            }, 200); //time show notification
                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loginModal').foundation('reveal', 'close');
                    //error message
                    setTimeout(function () {

                        // create the notification
                        var notification = new NotificationFx({
                            message: 'Login failed - Please try again',
                            layout: 'growl',
                            effect: 'slide',
                            type: 'error' // notice, warning or error
                        });

                        // show the notification
                        notification.show();

                    }, 100); //time show notification
                }
            });
        }
    }

</script>

</body>
</html>
