<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/notifications/css/normalize.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/notifications/css/ns-default.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/notifications/css/ns-style-growl.css"/>
<script src="{{ STATIC_URL }}vendor/notifications/js/modernizr.custom.js"></script>
<script src="{{ STATIC_URL }}vendor/notifications/js/classie.js"></script>
<script src="{{ STATIC_URL }}vendor/notifications/js/notificationFx.js"></script>

