{% if not user.is_authenticated %}
    <div class="row">
        <div id="loginModal" class="reveal-modal tiny" data-reveal>
            <form data-abide onsubmit="return false;">
                {% csrf_token %}
                <fieldset style="border:none !important;">
                    <legend>Login</legend>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Username
                                <input type="text" placeholder="Username" name="username" required/>
                            </label>
                            <small class="error">required</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="password">Password <!--<small>required</small>-->
                                <input type="password" id="password" placeholder="Password" name="password" required>
                            </label>
                            <small class="error">required</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <button type="submit" class="medium button green" onclick="Login()">Submit</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
{% endif %}
