@font-face {
 font-family: 'Lato-Hairline';
 src: url(../fonts/Lato/Lato-Hairline.ttf);
}

html,body{
	background:#e5e5e5;
	font-size: 14px !important;
	
}
.top-bar-section ul li, .top-bar.expanded, .title-area, .top-bar{
	background: #fff !important;
	color: #000 !important;
}
.top-bar{
	background: #fff !important;
	color: #000 !important;
}
.top-bar .name h1 a {
	color: #000 !important;
	cursor: pointer !important;
	font-size: 14px !important;
}
.top-bar-section ul > li > a , .top-bar ul > li > a {
	background: #fff !important;
	color: #000 !important;
	cursor: pointer !important;
	font-size: 12px !important;
}

.top-bar-section ul > li > a:hover, .top-bar ul > li > a:hover {
	text-decoration: none;
	color: #6a6a6a !important;;
}

.will{
	margin-top: 20px;
	border: 0;
	padding: 20px;
	min-height: 63px;
	background: #fff;
	box-shadow: none;
	border-radius: 3px;
	position: relative;
	max-height: 100000px;
	border-bottom: 2px solid #ccc;
	transition: max-height 0.5s ease;
	-o-transition: max-height 0.5s ease;
	-ms-transition: max-height 0.5s ease;
	-moz-transition: max-height 0.5s ease;
	-webkit-transition: max-height 0.5s ease;

}


.button {
	padding: 6px 12px !important;
	color: #ffffff !important;
	background-color: #428bca !important;
	border: 1px solid #428bca !important;
}

.button:hover {
	padding: 6px 12px !important;
	color: #428bca !important;
	border-color: #428bca !important;
	background-color: transparent !important;
}

.img-circle {
	border-radius: 50%;
}
img{
	vertical-align: middle;
}

.top-bar .toggle-topbar.menu-icon a span::after {
	content: "";
	position: absolute;
	display: block;
	height: 0;
	top: 50%;
	margin-top: -8px;
	right: 15px;
	box-shadow: 0 0px 0 1px black, 0 7px 0 1px black, 0 14px 0 1px black;
	width: 16px;
}
.top-bar-section{
	margin-right:40px;
}
.top-bar-section .dropdown li.title h5 a{
	color:#5F5F5F;
}
@media only screen and (min-width: 40.063em) {
	.top-bar-section{
		margin-right:0px;
	}
	.top-bar.expanded, .title-area, .top-bar{
		background: #fff !important;
		color: #000 !important;
	}
	.top-bar .name h1 a {
		color: #000 !important;
		cursor: pointer !important;
		font-size: 14px !important;
	}
	.top-bar-section ul > li > a , .top-bar ul > li > a {
		background: #fff !important;
		color: #000 !important;
		cursor: pointer !important;
		font-size: 12px !important;
	}

	.top-bar-section ul > li > a:hover, .top-bar ul > li > a:hover {
		text-decoration: none;
		color: #6a6a6a !important;;
	}

}
@media only screen and (min-width: 64.063em) {
	.top-bar-section{
		margin-right:0px;
	}
	.top-bar.expanded, .title-area, .top-bar{
		background: #fff !important;
		color: #000 !important;
	}
	.top-bar .name h1 a {
		color: #000 !important;
		cursor: pointer !important;
		font-size: 14px !important;
	}
	.top-bar-section ul > li > a , .top-bar ul > li > a {
		background: #fff !important;
		color: #000 !important;
		cursor: pointer !important;
		font-size: 12px !important;
	}

	.top-bar-section ul > li > a:hover, .top-bar ul > li > a:hover {
		text-decoration: none;
		color: #6a6a6a !important;;
	}
}

@media only screen {
	.top-bar-section{
		margin-right:0px;
	}
}